body {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;

  text-align: center;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 5px dotted black;
}

.display-3 {
  font-family: "Bungee Inline", cursive;
}

.container {
  margin: 60px auto;
}

.input-group-prepend {
  width: 80px;
}
